In [1]:
import pandas as pd

In [2]:
# DataFrame applymap()

df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [10, 20, 30],
    'c': [5, 10, 15]
})
    
def add_one(x):
    return x + 1
        
df.applymap(add_one)

   a   b   c
0  2  11   6
1  3  21  11
2  4  31  16

In [3]:
grades_df = pd.DataFrame(
    data={'exam1': [43, 81, 78, 75, 89, 70, 91, 65, 98, 87],
          'exam2': [24, 63, 56, 56, 67, 51, 79, 46, 72, 60]},
    index=['Andre', 'Barry', 'Chris', 'Dan', 'Emilio', 
           'Fred', 'Greta', 'Humbert', 'Ivan', 'James']
)

In [6]:
def convert_grades(grades):
    '''
    Fill in this function to convert the given DataFrame of numerical
    grades to letter grades. Return a new DataFrame with the converted
    grade.
    
    The conversion rule is:
        90-100 -> A
        80-89  -> B
        70-79  -> C
        60-69  -> D
        0-59   -> F
    '''
    # Use apply function to convert each element in the data frame
    return grades.applymap(convert_grade)

convert_grades(grades_df)

        exam1 exam2
Andre       F     F
Barry       B     D
Chris       C     F
Dan         C     F
Emilio      B     D
Fred        C     F
Greta       A     C
Humbert     D     F
Ivan        A     C
James       B     D

In [4]:
# Building the function above

# First need to create a function to convert integer grades
# to letter grades
def convert_grade(grade):
    if grade >= 90:
        return 'A'
    elif  grade >= 80:
        return 'B'
    elif  grade >= 70:
        return 'C'
    elif  grade >= 60:
        return 'D'
    else:
        return 'F'

In [5]:
# Test convert_grade function on single values
# Should give three As, three Bs, three Cs, three Ds, and three F
print convert_grade(100)
print convert_grade(95)
print convert_grade(90)
print convert_grade(89)
print convert_grade(85)
print convert_grade(80)
print convert_grade(79)
print convert_grade(75)
print convert_grade(70)
print convert_grade(69)
print convert_grade(65)
print convert_grade(60)
print convert_grade(59)
print convert_grade(55)
print convert_grade(0)

A
A
A
B
B
B
C
C
C
D
D
D
F
F
F

In [7]:
# The solution can also be made into a
# single function by nesting
def convert_grades(grades):
    def convert_grade(grade):
        if grade >= 90:
            return 'A'
        elif  grade >= 80:
            return 'B'
        elif  grade >= 70:
            return 'C'
        elif  grade >= 60:
            return 'D'
        else:
            return 'F'
    return grades.applymap(convert_grade)

convert_grades(grades_df)

        exam1 exam2
Andre       F     F
Barry       B     D
Chris       C     F
Dan         C     F
Emilio      B     D
Fred        C     F
Greta       A     C
Humbert     D     F
Ivan        A     C
James       B     D