In [1]:
import numpy as np
import pandas as pd

In [2]:
# DataFrame with cumulative entries and exits for multiple stations
ridership_df = pd.DataFrame({
    'UNIT': ['R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051', 'R079', 'R051'],
    'TIMEn': ['00:00:00', '02:00:00', '04:00:00', '06:00:00', '08:00:00', '10:00:00', '12:00:00', '14:00:00', '16:00:00'],
    'ENTRIESn': [3144312, 8936644, 3144335, 8936658, 3144353, 8936687, 3144424, 8936819, 3144594],
    'EXITSn': [1088151, 13755385,  1088159, 13755393,  1088177, 13755598, 1088231, 13756191,  1088275]
})

In [3]:
ridership_df

   ENTRIESn    EXITSn     TIMEn  UNIT
0   3144312   1088151  00:00:00  R051
1   8936644  13755385  02:00:00  R079
2   3144335   1088159  04:00:00  R051
3   8936658  13755393  06:00:00  R079
4   3144353   1088177  08:00:00  R051
5   8936687  13755598  10:00:00  R079
6   3144424   1088231  12:00:00  R051
7   8936819  13756191  14:00:00  R079
8   3144594   1088275  16:00:00  R051

In [8]:
def get_hourly_entries_and_exits(entries_and_exits):
    return rdef get_hourly_entries_and_exits(entries_and_exits):
    return ridership_df.groupby('UNIT')[['ENTRIESn', 'EXITSn']].apply(hourly_for_group)

get_hourly_entries_and_exits(ridership_df)idership_df.groupby('UNIT')[['ENTRIESn', 'EXITSn']].apply(hourly_for_group)

get_hourly_entries_and_exits(ridership_df)

   ENTRIESn  EXITSn
0       NaN     NaN
1       NaN     NaN
2      23.0     8.0
3      14.0     8.0
4      18.0    18.0
5      29.0   205.0
6      71.0    54.0
7     132.0   593.0
8     170.0    44.0

In [4]:
# Building the above function

# Use same function as before to find 
def hourly_for_group(entries_and_exits):
    return entries_and_exits - entries_and_exits.shift(1)

In [6]:
# Group dataframe by unit
ridership_df.groupby('UNIT')[['ENTRIESn', 'EXITSn']].apply(hourly_for_group)

   ENTRIESn  EXITSn
0       NaN     NaN
1       NaN     NaN
2      23.0     8.0
3      14.0     8.0
4      18.0    18.0
5      29.0   205.0
6      71.0    54.0
7     132.0   593.0
8     170.0    44.0